
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

form.active {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
    }
}

form.unactive {
    animation: fadeOutRight 1s ease-in-out;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #EDF2F6;
    border-radius: 20px;
    /* padding: 80px; */

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #082032;
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation {
    position: relative !important;
    height: 80vh !important;
    width: 98% !important;
    overflow-x: hidden !important;
    transition: width 0.5s !important;
    margin-top: 1em !important;
    min-height: 1000px !important;
}

.navigation > .nav-tabs {
    display: block !important;
    /* transition: width 0.5s; */
    /*border-radius: 20px;*/
    /*box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),*/
    /*inset 5px 5px 20px rgba(255, 255, 255, 0.1),*/
    /*inset -5px -5px 15px rgba(0, 0, 0, 0.2);*/
    /* height: 100%; */
    /*padding-bottom:10em ;*/
    /* margin-left: 1em; */
    /*background-color: #032F55;*/
    border-bottom: 0px solid #F8F8F9 !important;
}

.navigation .nav-tabs {
    border-bottom: 0px solid #F8F8F9 !important;
}

.navigation .nav-tabs .nav-link:focus, .navigation .nav-tabs .nav-link:hover {
    border: none !important;
}

.navigation .nav-tabs .nav-link, .navigation .nav-tabs .nav-link {
    border: none !important;
}

.navigation > ul {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-right: 5px !important;
    padding-top: 40px !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.list {
    position: relative !important;
    list-style: none !important;
    width: 92% !important;
    border-radius: 0 50px 50px 0 !important;
    margin-right: 10% !important;
    /* -webkit-transition: all 9s ease;
    -moz-transition: all 95s ease;
    -o-transition: all 9s ease;
    transition: all 9s ease; */
}

.list .nav-link {
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
    border-radius: 0 50px 50px 0 !important;
}

.list.dropdown::after {
    font-family: "Font Awesome 5 Free" !important;
    content: "\f107" !important;
    display: inline-block !important;
    padding-right: 3px !important;
    vertical-align: middle !important;
    font-weight: 900 !important;
    color: #F8F8F9 !important;
    position: absolute !important;
    top: 1.5em !important;
    left: 2em !important;
    /* transition: 0.5s; */
}

.list.dropdown.active::after {
    color: black !important;
    transform: rotateX(180deg) !important;
}

.list.active::before {
    opacity: 0 !important;
    transform: translate(-50%, -50%) !important;
    width: 95% !important;
    left: 50% !important;
}

.list.active > a::before {
    content: "" !important;
    position: absolute !important;
    top: -49px !important;
    left: 0 !important;
    width: 51px !important;
    height: 51px !important;
    border-radius: 50% !important;
    box-shadow: -15px 19px 0px #F8F8F9 !important;
}

.list.active > a::after {
    content: "" !important;
    position: absolute !important;
    bottom: -50px !important;
    left: 0 !important;
    width: 51px !important;
    height: 51px !important;
    border-radius: 50% !important;
    box-shadow: -17px -19px 0px #F8F8F9 !important;
}

.list > a {
    position: relative !important;
    display: flex !important;
    text-decoration: none !important;
    width: 100% !important;
    color: white !important;
    border-radius: 0 50px 50px 0 !important;
    transition: 0.001s !important;
}

.list.active > a {
    position: relative !important;
    display: flex !important; 
    text-decoration: none !important;
    width: 100% !important;
    color: #032F55 !important;
    border: none !important;
    background: #F8F8F9 !important;
}

.navigation .drop-down-menu > .active {
    position: relative !important;
    display: flex !important;
    text-decoration: none !important;
    width: 90% !important;
    color: #032F55 !important;
    border: none !important;
    background: #F8F8F9 !important;
    border-radius: 0 50px 50px 0 !important;
}

.navigation .drop-down-menu > .active::before {
    content: "" !important;
    position: absolute !important;
    top: -49px !important;
    left: 0 !important;
    width: 51px !important;
    height: 51px !important;
    border-radius: 50% !important;
    box-shadow: -15px 19px 0px #F8F8F9 !important;
}

.navigation .drop-down-menu > .active::after {
    content: "" !important;
    position: absolute !important;
    bottom: -50px !important;
    left: 0 !important;
    width: 51px !important;
    height: 51px !important;
    border-radius: 50% !important;
    box-shadow: -17px -19px 0px #F8F8F9 !important;
}

.navigation .icon {
    margin-right: 40px !important;
    position: relative !important;
    display: block !important;
    height: 60px !important;
    line-height: 65px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.navigation i {
    position: relative !important;
    font-size: 1.2em !important;
    z-index: 1 !important;
    /* font-weight: 500; */
    /* color: #032F55; */
}

.navigation .title {
    position: relative !important;
    display: block !important;
    padding-right: 20px !important;
    height: 60px !important;
    line-height: 60px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    white-space: nowrap !important;
    font-weight: bold !important;
}

.navigation .list.dropdown .drop-down-menu {
    color: white !important;
    display: none !important;

}

.navigation .list.dropdown .drop-down-menu li {
    color: #ffffff !important;
    display: flex !important;
}

.navigation .list.dropdown.active .drop-down-menu {
    display: block !important;
    margin-top: 0.1em !important;
    padding-bottom: 2em !important;
    padding-top: 1.9em !important;
}

.navigation .nav-tabs .nav-link.active {
    background: #F8F8F9 !important;
    color: #032F55 !important;

}
